name: release-v8.0
on:
  push:
    branches:
      - master
    paths:
      - 8.0/**

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: registry.cn-hangzhou.aliyuncs.com/testwydimage
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to aliyun
        run: |
          echo ${{ secrets.PASSWORD_ALI }} | oras login -u ${{ secrets.USERNAME_ALI }} --password-stdin registry.cn-hangzhou.aliyuncs.com/testwydimage
      -
        name: Prepare Docker envs
        shell: bash
        run: |
          echo "VERSION=${GITHUB_REF##*/v}" >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          platforms: linux/amd64,linux/arm64
          # platforms: linux/amd64,linux/386,linux/arm64,linux/arm/v7,linux/arm/v6
          file: 8.0/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            VERSION=${{ env.VERSION }}
